body, html {
    font-family: 'Roboto', sans-serif;
}

.globalContainerForm {
    width: 100%;
    padding: 50px 0px;
}

#containerContactInfo {
    width: 60%;
    margin: 0 auto;
}

.globalContainerForm div.title {
    margin: 20px auto;
    width: 100%;
}

.globalContainerForm div.title h2 {
    color: #F4A261;
    text-transform: uppercase;
    font-weight: 600;
}

.containerForm {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

form#contactForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

div#infoContact {
    width: 50%;
    margin-left: 25px;
    border-radius: 5px;
}

div#infoContact ul {
    height: 50%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

div#infoContact ul li {
    list-style-type: none;
    color: black;
    font-weight: 500;
}

div#infoContact ul li::marker {
    display: none;
}

.globalContainerForm form#contactForm .group-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.globalContainerForm form#contactForm .group-input label {
    margin: 5px 0px;
    font-weight: 500;
}

.globalContainerForm form#contactForm .group-input input {
    border: none;
    padding: 10px 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

.globalContainerForm form#contactForm .group-input textarea {
    border: none;
    padding: 10px 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

.globalContainerForm form#contactForm .group-input button#submitContact {
    border: none;
    padding: 10px 15px;
    background-color: #F4A261;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}