 body, html {
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
 }

 .containerSolution:nth-child(odd) {
   background-color: #fafafa;
   padding: 50px 0px;
 }

 .containerSolution:nth-child(even) {
   background-color: white;
   padding: 50px 0px;
 }

 .solution {
   font-weight: 500;
   width: 60%;
   margin: 50px auto;
   display: flex;
   justify-content: center;
 }

 .solution h2 {
   color: #F4A261;
   font-weight: bold;
   padding: 0px 10px;
   font-size: 30px;
 }

 div.img-solution {
   width: 20%;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 div.img-solution img {
   width: 80%;
   height: 80%;
   background-repeat: no-repeat;
   background-size: contain;
 }

 div.container {
   width: 80%;
   margin-left: 50px;
 }

 .solution .navigationSolution ul {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
 }

 .solution .navigationSolution ul li {
   list-style-type: none;
   width: 20%;
   margin: 10px;
   border-radius: 5px;
 }

 .solution .navigationSolution ul li button {
   text-decoration: none;
   opacity: 1;
   padding: 10px 20px;
   text-align: center;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 18px;
   align-items: center;
   justify-content: center;
   width: 100%;
   display: block;
   font-weight: 500;
   box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.226);
 }

 .solution .navigationSolution ul li button:hover {
   background-color: #06CCD6;
   color: white;
 }

 .solutionText {
   display: none;
 }

 .solutionIsActive {
   background-color: #06CCD6;
   color: white;
   border-radius: 5px;
 }

 .containerAnimationText {
   position: relative;
   animation: test 300ms ease-in-out both;
   display: block;
   width: 100%;
   color: black;
   min-height: auto;
   padding: 10px;
 }

 .solution .containerSolutionText .solutionText .containerAnimationText ul {
   margin: 5px 0px;
 }

 .solution .containerSolutionText .solutionText .containerAnimationText ul li {
   list-style: disc;
   margin: 20px 0px;
   margin-left: 30px;
   border-radius: 5px;
 }

 @keyframes test {
   from {
     opacity: 0;
     top: 5px;
   }
   to {
     opacity: 1;
     top: 0;
   }
 }

 @media screen and (max-width:1024px) {
   .solution .navigationSolution ul li button {
     padding: 10px 0px;
   }
 }