@charset "utf-8";

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

main {
    overflow: hidden;
}

img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

html,
body {
    border: 0 solid transparent;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: block;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
    position: relative;
    border: none;
    scroll-behavior: smooth;
}

nav#navbar {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.226);
    z-index: 50;
    position: sticky;
    top: 0;
}

nav#navbar div#container-navbar {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

nav#navbar div#container-navbar div#logo-navbar {
    width: 30%;
    display: flex;
    justify-content: center;
}

nav#navbar div#container-navbar div#logo-navbar img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

nav#navbar div#container-navbar ul#navbar-link {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav#navbar div#container-navbar ul#navbar-link li {
    list-style: none;
    font-weight: 600;
    margin: 0px 30px;
}

nav#navbar div#container-navbar ul#navbar-link li a {
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    color: #363636;
    font-size: 16px;
    text-transform: uppercase;
}

nav#navbar div#container-navbar ul#navbar-link li a.btn-account {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.75);
}

nav#navbar div#container-navbar ul#navbar-link li a.btn-account img {
    width: 20px;
    height: 20px;
}

section#presentation {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background: #06CCD6;
    background: -webkit-linear-gradient(to top, #ffffff, #6cdce2, #06CCD6);
    background: linear-gradient(to top, #ffffff, #6cdce2, #06CCD6);
}

section#presentation div#container-presentation {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 100px 0px 250px 0px;
}

section#presentation div#container-presentation div.left-pres {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0px 20px;

}

section#presentation div#container-presentation div.left-pres img {
    width: 100%;
    height: auto;
}

section#presentation div#container-presentation div.right-pres {
    width: 60%;
    color: white;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

section#presentation div#container-presentation div.right-pres h1 {

    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;

}

section#presentation div#container-presentation div.right-pres h2 {
    margin-left: 20px;
    font-size: 40px;

}

section#presentation div#container-presentation div.right-pres p {

    margin-left: 20px;
    font-size: 20px;

}


section#presentation div#container-presentation div.right-pres p strong {

    font-size: 25px;
}

section#presentation div#container-presentation div.right-pres .container-btn {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;

}

section#presentation div#container-presentation div.right-pres .container-btn a.btn {
    width: 50%;
    text-decoration: none;
    background-color: #F4A261;
    color: white;
    display: block;
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
}

section#prestation {
    width: 100%;
}

section#prestation div.container-prestation {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}

section#prestation div.container-prestation .right-prestation {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#prestation div.container-prestation .right-prestation img {
    width: 100%;
    height: auto;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

section#prestation div.container-prestation .left-prestation {
    width: 60%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section#prestation div.container-prestation .left-prestation h2 {
    font-size: 40px;
    color: #F4A261;
}

section#prestation div.container-prestation .left-prestation p {
    font-weight: 400;
    color: #363636;
}

section#prestation div.container-prestation .left-prestation p a {
    display: inline-block;
}

section#prestation div.container-prestation .left-prestation a.btn {
    width: 40%;
    text-decoration: none;
    background-color: #F4A261;
    color: white;
    display: block;
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
}

section#prestation div.container-prestation div.listmodule {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 150px;
    position: relative;
}

section#prestation div.container-prestation div.listmodule:before {
    content: "";
    height: 2px;
    background-color: #e7e7e6;
    margin: 0 auto;
    width: 40%;
    position: absolute;
    left: 0;
    right: 0;
    top: -75px;
}

section#prestation div.container-prestation div.listmodule .module {
    margin-right: 100px;
}

section#prestation div.container-prestation div.listmodule .module h2 {
    color: #F4A261;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section#prestation div.container-prestation div.listmodule .module ul {
    width: 100%;
}

section#prestation div.container-prestation div.listmodule .module ul li {
    list-style: disc;
    line-height: 35px;
    margin-left: 30px;
    font-weight: 500;
    color: #363636;
}

section#info {
    width: 100%;
    background-color: #06CCD6;
}

section#info div#container-info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



section#info div#container-info h3 {
    font-size: 30px;
    margin: 10px 0px;
}

section#info div#container-info p {
    margin: 10px 0px;
    font-size: 16px;
}

section#info div#container-info a.btn {
    width: 30%;
    text-decoration: none;
    background-color: #F4A261;
    color: white;
    display: inline-block;
    margin: 30px auto;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;

}

section#offres {
    width: 100%;
}


section#responsive-apps {
    width: 100%;
}

#responsive-apps .container-responsive {
    width: 70%;
    padding: 100px 0px;
    margin: 0 auto;
}

#responsive-apps .container-responsive .responsive-img {
    margin: 20px 0px 40px 0px;
}

#responsive-apps .container-responsive .responsive-img img {
    width: 500px;
    height: auto;
   
}
#responsive-apps .container-responsive h2 {
    font-size: 40px;
    color: #F4A261;
  }
#responsive-apps .container-responsive p {
  font-size: 20px;
}



section#commentary {
width: 100%;
}

section#commentary .global-container-commentary {
width: 70%;
margin: 0 auto;  
}

section#commentary .global-container-commentary h2 {
    color: #F4A261;
    font-size: 40px;
    text-align: center;
}

section#commentary .container-commentary {
  width: 100%;
  height: 100vh;
}
section#commentary .container-commentary {
    width: 100%;
    display: flex;
    height: 400px;
    justify-content: left;
    position:relative ;
    overflow: hidden;
 
  }

  section#commentary .container-commentary .commentary {
    min-width: calc(33.3% - 20px);
    margin: 10px;
    height: auto;
    background-color: rgb(255, 255, 183);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: ease-in-out 0.5s;
    position: relative;
    left: 0px;
}
  section#commentary .container-commentary .commentary .commentary-header{
    width: 100%;
    padding: 10px;
  }
  section#commentary .container-commentary .commentary .commentary-body{
    width: 100%;
    padding: 10px;
  }
  section#commentary .container-commentary .commentary .commentary-footer{
    width: 100%;
    padding: 10px;
  }

  section#commentary .container-commentary #click-before {
    position: absolute;
    left: 0px;
    font-size: 25px;
    cursor: pointer;
    z-index: 500;
  }
  section#commentary .container-commentary #click-after {
    position: absolute;
    right: 0px;
    font-size: 25px;
    cursor: pointer;
    z-index: 500;
}


div.container-contact {
    width: auto;
    height: auto;
}

div.container-contact div.contact-container-btn {
    width: auto;
    height: auto;
    background-color: #F4A261;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.75);
}

div.container-contact div.contact-container-btn a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

div.container-contact div.contact-container-btn img {
    width: 30px;
    height: auto;
}

div.container-contact #container-form {
    width: 0%;
    height: 0px;
    background-color: #F4A261;
    position: fixed;
    bottom: 80px;
    right: 80px;
    border-radius: 5px;
    transition: ease-in-out 0.25s;
    overflow: hidden;
    transform-origin: 100% 100% !important;
}

div.container-contact #container-form form {
    width: 100%;
    padding: 10px;
}

div.container-contact #container-form form input,
textarea {
    width: 100%;
    margin: 5px 0px 5px 0px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

div.container-contact #container-form form button.btn-contact-form {
    width: 100%;
    margin: 10px 0px 10px 0px;
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.opencontact {
    transition: ease-in-out 0.25s;
    overflow: hidden;
    width: 300px !important;
    bottom: 80px !important;
    right: 25px !important;
    height: 400px !important;
    max-height: 400px !important;
    transform-origin: 100% 100% !important;
}



 